
.swiper {
    width: 1440px;
    height: 10%;
    margin-bottom: 100px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 1340px;
    height: 400px;
    object-fit: cover;
}
