.chat-room-list-index {
    align-items: flex-start;
    background-color: #ffffff;
    border: 2px solid #8d8d8d;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*min-height: 100vh;*/
    padding: 20px 10px;
    /*position: relative;*/

    width: 400px;
    height: 700px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #808080;
    z-index: 1;
}

.chat-room-list-index .chat-room-title {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 26px;
    height: 35px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
    position: relative;
    text-align: center;
    width: 100px;
}

.chat-room-list-index .chat-room-list {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    /*gap: 10px;*/
    /*overflow-y: scroll;*/
    padding: 10px 10px;
    position: relative;
    width: 380px;
    /*overflow: auto;*/
    /*overflow-y: scroll;*/

    overflow-y: auto;
    flex-flow: wrap;

    /*justify-content: space-evenly;*/
    align-content: flex-start;

    -ms-overflow-style: none; /* Internet Explorer */
    scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera, Edge */
.chat-room-list-index .chat-room-list::-webkit-scrollbar {
    display: none;
}

.chat-room-list-index .chat-room {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    height: 80px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 10px;
    position: relative;
    width: 380px;
}

.chat-room-list-index .chat-room-list :hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.chat-room-list-index :hover .logo {
    background-color: #13954c;
}

.chat-room-list-index :hover .icon-leaf  {
    background-color: #13954c;
}

.chat-room-list-index .overlap-group :hover {
    background-color: #ff0000;
    border-radius: 10px;
}



.chat-room-list-index .chat-room-header {
    align-items: center;
    display: flex;
    /*gap: 10px;*/
    height: 80px;
    justify-content: center;
    /*padding: 14px 13px;*/
    position: relative;
    width: 55px;
}

.chat-room-list-index .logo {
    background-color: #13954c;
    border-radius: 25px;
    height: 50px;
    margin-left: -10.5px;
    margin-right: -10.5px;
    position: relative;
    width: 50px;
}

.chat-room-list-index .icon-leaf {
    height: 24px;
    left: 14px;
    position: absolute;
    top: 15px;
    width: 20px;
}

.chat-room-list-index .chat-room-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    justify-content: center;
    position: relative;
    width: 220px;
}

.chat-room-list .title-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.chat-room-list-index .chat-room-content .text-wrapper {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 19px;
    height: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    /*width: 190px;*/
    width: auto;
    text-align: left;
    max-width: 190px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-room .count-user {
    width: auto;
    height: 25px;
    line-height: 30px;
    color: #aeaeae;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.chat-room-list-index .chat-room-content .recent-msg {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    letter-spacing: 0;
    line-height: 25px;
    position: relative;
    width: 190px;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-room-list-index .chat-room-footer {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 80px;
    padding: 0px 1px;
}

.chat-room-list-index .recent-msg-time {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 11px;
    height: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
    width: 69px;
}

.chat-room-list-index .unread-alarm {
    height: 15px;
    /*margin-right: -2px;*/
    /*position: relative;*/
    width: 15px;
}

.chat-room-list-index .overlap-group {
    background-color: #ff0000;
    border-radius: 10px;
    height: 15px;
    position: relative;
    width: 15px;
}

.chat-room-list-index .unread-count {
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 11px;
    left: 0;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 15px;
    height: 15px;
}
