.chat-room-menu-index {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #8d8d8d;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 698px;
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    /*top: 0;*/
    left: 130px;
    bottom: -1px;
    width: 267px;

    z-index: 2;
}

.chat-room-menu-index .chat-menu-header {
    align-items: center;
    background-color: #ffffff;
    /*border-radius: 0 20px 0 0;*/
    display: flex;
    gap: 10px;
    height: 45px;
    justify-content: center;
    overflow: hidden;
    /*padding: 15px 0 10px 0;*/
    position: relative;
    width: 267px;
}

.chat-room-menu-index .chat-menu-header-text {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    position: relative;
    width: 210px;
    padding-left: 10px;
    margin-top: -5px;
    margin-right: 1px;
}

.chat-room-menu-index .chat-room-menu {
    height: 65px;
    margin-top: -5px;
    margin-right: 1px;
    /*margin-bottom: -10px;*/
    /*margin-top: -10px;*/
    position: relative;
    width: 50px;

    cursor: pointer;
}

.chat-room-menu-index .chat-room-menu-content {
    align-items: flex-start;
    background-color: #f9f9f9;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #8d8d8d;
    border-top-style: solid;
    border-top-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 530px;
    padding: 10px;
    position: relative;
    width: 267px;
}

.chat-room-menu-index .chat-room-menu-user {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    position: relative;
    width: 247px;
}

.chat-room-menu-index .chat-room-user {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    justify-content: center;
    /*padding: 14px 13px;*/
    position: relative;
    width: 60px;
}

.chat-room-menu-index .chat-room-user-img {
    background-color: #13954c;
    border-radius: 15px;
    height: 50px;
    /*margin-bottom: -9px;*/
    /*margin-left: -8px;*/
    /*margin-right: -8px;*/
    /*margin-top: -9px;*/
    position: relative;
    width: 50px;
}

.chat-room-menu-index .chat-room-user-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    padding: 10px 0;
    position: relative;
    width: 200px;
}

.chat-room-menu-index .chat-room-user-text {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 60px;
    /*letter-spacing: 0;*/
    /*line-height: normal;*/
    /*margin-bottom: -9px;*/
    /*margin-top: -11px;*/
    position: relative;
    width: 200px;

    line-height: 60px;
}

.chat-room-menu-index .chat-room-menu-footer {
    align-items: center;
    background-color: #ffffff;
    /*border-radius: 0px 0px 20px 0px;*/
    display: flex;
    gap: 10px;
    height: 65px;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    width: 267px;
}

.chat-room-menu-index .chat-room-menu-exit {
    height: 40px;
    position: relative;
    width: 50px;

    cursor: pointer;
}
