.button-page {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 35px;
}

.button-page .element {
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.button-page.active {
  background-color: var(--blue-600);
}

.button-page.default {
  border: 1px solid;
  border-color: var(--neutral-400);
}

.button-page.active .element {
  color: var(--white);
}

.button-page.default .element {
  color: var(--neutral-800);
}
