.funding-intro-box {
    display: flex;
    max-width: 720px;
    position: relative;
    min-height: 1500px;
    border-radius: 30px;
    border: black;
    border: 1px solid;
    background-color: white;
    margin: 0 100px;
    padding: auto;
    
}
.funding-intro-title {
    display: flex;
    width: 160px;
    height: fit-content;
    top: 20px;
    text-align: center;
    position: relative;
    line-height: normal;
    letter-spacing: 0;
    left: 47px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Poppins-SemiBold", Helvetica;
    color: black;
    white-space: nowrap;
}
.funding-intro-image {
    margin-top: 100px;
    background-image: url(https://i.postimg.cc/5Nnzzjvy/Funding-intro.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1400px;
    width: 450px;
}
.intro-warp {
    padding: 15px 0;
    border: 1px solid black;
    border-radius: 25px;
    margin: 30px;
    width: fit-content;
    height: fit-content;
}


