* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "BMDOHYEON";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/BMDOHYEON_ttf.ttf");
}