.footer-index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.footer-index .footer-wrap-wrapper {
    background-color: #ffffff;
    border-color: #8d8d8d;
    border-top-style: solid;
    border-top-width: 1px;
    height: 279px;
    width: 1440px;
}

.footer-index .footer-wrap {
    align-items: center;
    display: flex;
    height: 279px;
    justify-content: center;
    position: relative;
    width: 1440px;
}

.footer-index .logo-wrap {
    align-items: center;
    display: flex;
    height: 279px;
    justify-content: center;
    position: relative;
    width: 390px;
}

.footer-index .eco-connect-logo {
    height: 69.37px;
    object-fit: cover;
    position: relative;
    width: 190px;
}

.footer-index .menu-wrap {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 279px;
    justify-content: center;
    padding: 126px 0px;
    position: relative;
    width: 650px;
}

.footer-index .menu-cccc {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    letter-spacing: 0;
    line-height: 19px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 63px;
    cursor: pointer;
}

.footer-index .menu-q-a {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    letter-spacing: 0;
    line-height: 19px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 32px;
    cursor: pointer;
}

.footer-index .menu-long {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    letter-spacing: 0;
    line-height: 19px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 193px;
    cursor: pointer;
}

.footer-index .menu-cccc:hover {
    color: #8d8d8d;
}

.footer-index .menu-q-a:hover {
    color: #8d8d8d;
}

.footer-index .menu-long:hover {
    color: #8d8d8d;
}

.footer-index .inquiry-wrap {
    align-items: center;
    display: flex;
    gap: 30px;
    height: 279px;
    justify-content: center;
    padding: 111px 43px;
    position: relative;
    width: 400px;
}

.footer-index .inquiry-btn {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 81px;
    cursor: pointer;
}

.footer-index .inquiry-btn:hover {
    color: #8d8d8d;
}

.footer-index .shortcut-btn {
    all: unset;
    align-items: center;
    background-color: #03c75a;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 50px;
    justify-content: center;
    padding: 5px 26px;
    position: relative;
    width: 160px;

    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.footer-index .shortcut-btn:hover {
    border: 1px solid #03c75a;
    background-color: #FFFFFF;
    color: #03c75a;
}