.card-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 1px; /* space between cards */
    padding: 10px; /* padding around the grid */
    margin: auto;
    max-width: 1440px;
    max-height: 1440px;
    margin-bottom: 100px;
}

.donate-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; /* Adjust as needed */
    font-size: 1em;
}

.donate-button:hover {
    background-color: darkgreen;
}


@media (max-width: 1200px) {
    .card-grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 768px) {
    .card-grid-container {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}
