.my-mission-index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.my-mission-index .my-mission-wrap-wrapper {
    background-color: #ffffff;
    height: 1076px;
    width: 1440px;
}

.my-mission-index .my-mission-wrap {
    align-items: center;
    display: flex;
    gap: 55px;
    position: relative;

}

.my-mission-index .mypage-sidebar-wrap {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 1000px;
    position: relative;
    margin-left: -235px;
}

.my-mission-index .sidebar-frame {
    height: 950px;
    position: fixed;
    width: 80px;
    
}

.my-mission-index .sidebar {
    background-color: #03c75a;
    height: 945px;
    width: 80px;
    position: relative;
    top: -2px;
}

.my-mission-index .sidebar-shortcut {
    height: 708px;
    left: 16px;
    position: absolute;
    top: 30px;
    width: 48px;
}

.my-mission-index .favicon-logo {
    background-color: #13954c;
    border-radius: 24.14px/25.5px;
    height: 51px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}

.my-mission-index .icon-leaf {
    height: 27px;
    left: 11px;
    position: absolute;
    top: 12px;
    width: 25px;
}

.my-mission-index .shortcut-mission {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    left: 6px;
    position: absolute;
    top: 188px;
}

.my-mission-index .favicon-mission {
    height: 32px;
    position: relative;
    width: 36px;
}

.my-mission-index .menu-name {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 23px;
    white-space: nowrap;
}

.my-mission-index .shortcut-volunteer {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 1px;
    left: 4px;
    position: absolute;
    top: 286px;
}

.my-mission-index .favicon-volunteer {
    height: 27px;
    position: relative;
    width: 38px;
}

.my-mission-index .shortcut-funding {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 11px;
    position: absolute;
    top: 378px;
}

.my-mission-index .favicon-funding {
    height: 29.71px;
    margin-left: -0.75px;
    margin-right: -0.75px;
    margin-top: -0.75px;
    position: relative;
    width: 28.5px;
}

.my-mission-index .shoftcut-rank {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 9px;
    position: absolute;
    top: 470px;
}

.my-mission-index .favicon-rank {
    height: 22px;
    position: relative;
    width: 28px;
}

.my-mission-index .shortcut-qna {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 9px;
    position: absolute;
    top: 556px;
}

.my-mission-index .favicon-qna {
    height: 23px;
    position: relative;
    width: 30px;
}

.my-mission-index .shoftcut-logout {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 20px;
    left: 1px;
    position: absolute;
    top: 643px;
}

.my-mission-index .favicon-logout {
    height: 41px;
    margin-bottom: -21px;
    position: relative;
    width: 45px;
}

.my-mission-index .icon-logout {
    height: 20px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 24px;
}

.my-mission-index .text-wrapper {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 45px;
    white-space: nowrap;
}

.my-mission-index .my-mission-right {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 33px;
    position: relative;
    margin-top: -400px;
    margin-left: 300px;
}

.my-mission-index .div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.my-mission-index .serach-box {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 12px;
    height: 50px;
    position: relative;
    width: 380px;
}

.my-mission-index .search-icon-wrap {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    left: 7px;
    padding: 10px;
    position: relative;
    top: 4px;
}

.my-mission-index .search-icon {
    height: 24px;
    object-fit: cover;
    position: relative;
    width: 24px;
}

.my-mission-index .header-icon-wrap {
    height: 44px;
    left: 1075px;
    position: absolute;
    top: 3px;
    width: 148px;
}

.my-mission-index .my-mission-main-wrap {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 41px;
    position: relative;
}

.my-mission-index .my-mission-info {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 29px;
    position: relative;
}

.my-mission-index .div-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.my-mission-index .my-mission-text {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 11px;
    position: relative;
}

.my-mission-index .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 30px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 107px;
}

.my-mission-index .rectangle {
    height: 24px;
    position: relative;
    width: 1122px;
}

.my-mission-index .status {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 9px;
    position: relative;
}

.my-mission-index .status-blank {
    background-color: #ffffff;
    height: 15px;
    position: relative;
    width: 1103px;
}

.my-mission-index .my-mission-url {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 9px;
    justify-content: flex-end;
    position: relative;
}

.my-mission-index .text-wrapper-3 {
    color: #6c7aa0;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.my-mission-index .direction {
    color: #65646a;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.my-mission-index .div-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
}

.my-mission-index .div-4 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 18px;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0px;
    height: 96px;
    padding: 20px;
    position: relative;
    width: 290px;
}

.my-mission-index .div-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.my-mission-index .bg {
    background-color: #6f4ff2;
    border-radius: 27.5px;
    height: 55px;
    position: relative;
    width: 55px;
}

.my-mission-index .artwork {
    color: #ffffff;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-size: 19px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 19px;
}

.my-mission-index .div-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -1px;
    position: relative;
    white-space: nowrap;
}

.my-mission-index .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 30px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 52px;
}

.my-mission-index .text-wrapper-5 {
    color: #68676e;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 95px;
}

.my-mission-index .my-mission-complete {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 18px;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0px;
    height: 96px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 290px;
}

.my-mission-index .bg-2 {
    background-color: #50bb25;
    border-radius: 27.5px;
    height: 55px;
    position: relative;
    width: 55px;
}

.my-mission-index .text-wrapper-6 {
    color: #68676e;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 71px;
}

.my-mission-index .bg-3 {
    background-color: #f9d62c;
    border-radius: 27.5px;
    height: 55px;
    position: relative;
    width: 55px;
}

.my-mission-index .p {
    color: #68676e;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 138px;
}

.my-mission-index .span {
    color: #68676e;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.my-mission-index .text-wrapper-7 {
    text-decoration: underline;
}

.my-mission-index .bg-4 {
    background-color: #dc3546;
    border-radius: 27.5px;
    height: 55px;
    position: relative;
    width: 55px;
}

.my-mission-index .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 30px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 36px;
}

.my-mission-index .text-wrapper-9 {
    color: #68676e;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 83px;
}

.my-mission-index .status-row {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.my-mission-index .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.my-mission-index .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.my-mission-index .th {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 94px;
    position: relative;
    width: 1239px;
}

.my-mission-index .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 109px;
    justify-content: center;
    position: relative;
}

.my-mission-index .checkbox-none {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: 147px;
}

.my-mission-index .checkbox {
    border: 2px solid;
    border-color: #000000;
    border-radius: 3px;
    height: 20px;
    position: relative;
    width: 20px;
}

.my-mission-index .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 166px;
}

.my-mission-index .text-wrapper-12 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 128px;
}

.my-mission-index .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
}

.my-mission-index .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 119px;
}

.my-mission-index .text-wrapper-15 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 90px;
}

.my-mission-index .split-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.my-mission-index .split {
    height: 1px;
    margin-bottom: -0.7px;
    margin-top: -0.3px;
    position: relative;
    width: 1219px;
}

.my-mission-index .my-mission-current {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 19px;
    position: relative;
    width: 1229px;
}

.my-mission-index .my-mission-list-wrap {
    align-items: flex-start;
    border: 1px solid;
    border-color: #000000;
    border-radius: 16px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 1px 7px;
    position: relative;
}

.my-mission-index .my-mission-list {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 100px;
    position: relative;
}

.my-mission-index .checkbox-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.my-mission-index .my-mission-image {
    background-image: url(https://cdn.animaapp.com/projects/6560b21274de9042f7d947f4/releases/6581278e47a45727e508871b/img/my-mission-image@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 19px;
    flex: 0 0 auto;
    position: relative;
    width: 50px;
    height: 50px;
}

.my-mission-index .my-mission-title-and {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 57px;
    position: relative;
    width: 106px;
}

.my-mission-index .my-mission-title {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-left: -11px;
    margin-right: -11px;
    position: relative;
}

.my-mission-index .text-wrapper-16 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 37px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 128px;
}

.my-mission-index .div-wrapper-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.my-mission-index .text-wrapper-17 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 12px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 86px;
}

.my-mission-index .element-p {
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 78px;
}

.my-mission-index .text-wrapper-18 {
    color: #000000;
}

.my-mission-index .text-wrapper-19 {
    color: #03c75a;
}

.my-mission-index .my-mission-host {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 14px;
    height: 31px;
    position: relative;
}

.my-mission-index .img {
    flex: 0 0 auto;
    margin-bottom: -6.59px;
    margin-left: -0.59px;
    margin-top: -6.59px;
    position: relative;
}

.my-mission-index .text-wrapper-20 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 78px;
}

.my-mission-index .text-wrapper-21 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.my-mission-index .my-mission-post {
    align-items: center;
    background-color: #03c75a;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.my-mission-index .text-wrapper-22 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 33px;
}

.my-mission-index .my-mission-delete {
    height: 31px;
    position: relative;
    width: 1049px;
}

.my-mission-index .my-mission-delete-2 {
    height: 40px;
    position: relative;
    width: 150.89px;
}

.my-mission-index .text-wrapper-23 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 54px;
    white-space: nowrap;
}
