.gathering-update-index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.gathering-update-index .add-wrap-wrapper {
    background-color: #ffffff;
    height: 1700px;
    width: 1473px;
}

.gathering-update-index .add-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 10px;
    position: relative;
    top: 20px;
}


.gathering-update-index .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.gathering-update-index .zonecode {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #777777;
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 200px;
    margin-right: 10px; 
}

.gathering-update-index .full-address {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #777777;
    
}
.gathering-update-index .sub-address {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #777777;
}

.gathering-update-index .deadline {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    border-color: #777777;
    border: 1px solid;
}
.gathering-update-index .startAt {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    border-color: #777777;
    border: 1px solid;
}
.gathering-update-index .gathering-update-form-wrap {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    padding: 58px 43px;
    position: relative;
}

.gathering-update-index .gathering-update-text {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.gathering-update-index .gathering-update-form {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0px;
    position: relative;
}

.gathering-update-index .form-title {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.gathering-update-index .title {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 41px;
    position: relative;
    width: 403px;
}

.gathering-update-index .text-wrapper-2 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.gathering-update-index .intro {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 217px;
    position: relative;
    width: 831px;
}

.gathering-update-index .img {
    position: relative;

}

.gathering-update-index .img-preview {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 223px;
    position: relative;
    width: 388px;
}

.gathering-update-index .location {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 44px;
    position: relative;
    width: 502px;
}

.gathering-update-index .capacity {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 44px;
    position: relative;
    width: 259px;
}

.gathering-update-index .etc {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 214px;
    position: relative;
    width: 687px;
}




.gathering-update-index .add-button-text {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 700;
    height: 54px;
    position: relative;
    text-align: center;
    width: 209px;
    background-color: #03c75a;
    border-radius: 20px;
    border : none
}
.gathering-update-index button:active {
    background-color: #009e47;
}
